NODE_ENV=development

AWS_BUCKET_NAME=your-bucket-name
AWS_S3_REGION=your-region
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

DATABASE_URL="postgres://user:password@localhost:5432/dbName"